
.home-icon,
.explore-icon,
.subs-icon,
.youtube-music,
.library,
.originals-icon {
   width : 28px
}
.header {
   display:flex;
   justify-content: space-between;
   flex-direction: row;
   height: 56px;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   background-color: white;
   border-bottom: 1px solid rgb(216, 197, 197);
   z-index: 100;
}
.mid-section {
   margin-left:70px;
   margin-right: 35px;
   display: flex;
   align-items: center;
   flex-direction: row;
   width: 640px;
}
.left-section {
   align-items: center;
   display: flex;
   justify-content: space-between;
   width: 166px;
   margin-left: 5px;
}
.search-bar {

   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   height: 40px;
   flex: 1;
   font-size: 15.5px;
   width: 0;
}
.search-icon {
   height: 28px;
}
.voice-search-button {
   position: relative;
   height: 40px;
   width: 40px;
   border-radius: 20px;
   border: none;
   margin-left: 12px;
}
.search-button {

   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
   border-width: 1px;
   border-style: solid;
   border-color: rgb(178, 176, 176);
   height: 40px;
   margin-left: -1px;
   width: 50px;
}
.icon-container,
.search-button,
.voice-search-button {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}
.icon-container .tooltip,
.voice-search-button .tooltip,
.search-button .tooltip {
   position: absolute;
   background-color: gray;
   color:white;
   padding: 7px;
   padding-top: 8px;
   padding-bottom: 8px;
   border-radius: 4px;
   font-size: 11px;
   bottom: -40px;
   opacity: 0;
   transition: opacity 0.15s;
   pointer-events: none;
   white-space:nowrap;
}

.icon-container:hover .tooltip,
.voice-search-button:hover .tooltip,
.search-button:hover .tooltip {
   opacity: 1;
}
.youtube-icon {
   margin-left: 20px;
   height:22px;
}
.hambmenu-icon {
   margin-left: 20px;
   height:24.7px;
   cursor: pointer;
}
.right-section {
   width: 190px;
   display: flex;
   align-items:center;
   justify-content: space-evenly;
   flex-shrink: 0;
}
.search-button,
.search-bar {
   outline: none;
   border-width: 1px;
   border-style: solid;
   border: 2px solid #ccc;
   box-shadow: 0 px 4px rgba(0, 0, 0, 0.1);
}
.search-button {
   width: 62px;
}
.voice-search-icon {
   height: 23px;
}
::placeholder {
   font-family: Roboto, arial;
   font-size: 16px;
   padding-left: 11px;
}
.my-channel-pic,
.notification-icon,
.upload-icon {
   height: 26px;
}
.my-channel-pic {
   border-radius: 13px;
}
.notification-div {
   position: relative;
}
.notifications-count {
   background-color: rgb(205, 8, 8);
   color:white;
   position:absolute;
   top: -4px;
   right: -7px;
   font-family:Roboto, arial;
   font-size: 11px;
   padding: 3px;
   padding-left: 6.1px;
   padding-right: 6.1px;
   border-radius: 10px;
}

.right-section .tooltip {
   font-family: Roboto, Arial;
}
